* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*---------styling the header-----------*/

header {
    display: flex;
    padding: 1rem;
    background-color: rgb(35, 204, 100);
}

.heading {
    margin-right: auto;
}

.circular-logo {
    display: inline-block;
    vertical-align: middle;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden; /*clips extra sections of the content inside it if it doesn't fit*/
    border: 1px solid lightgreen;
    position: relative;
    margin-left: 0.5rem;
}

.heading h2 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
    color: whitesmoke;
}

.circular-logo img {
    position: absolute;
    width: 100%; /*try with different percentages to see how the centering works*/
    height: 100%;
    object-fit: contain; /*maintain aspect ratio and fits within container*/
    object-position: center; /*centers the image inside img tag (not mandatory since the default is center)*/
    /*centering inside the container*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*-----------------------------*/
}

.reg-login-container {
    color: whitesmoke;
    display: flex;
}

#signIn, #register {
    cursor: pointer;
}

#signIn:hover, #register:hover {
    text-decoration: underline;
}

.search-bar-container {
    display: flex;
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;
    position: relative;
}

#filter {
    position: absolute;
    left: 0.5rem;
    display: block;
    background-color: rgb(35, 204, 100);
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: white;
    user-select: none;
}

#search-bar {
    width: 50%;
}

#search-bar input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgb(35, 204, 100);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.cart-help {
    position: absolute;
    right: 0.5rem;  
}

#help, #cart {
    margin: 0 0.5rem;
    font-size: 0.8rem;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 1rem;
    background-color: rgb(35, 204, 100);
    color: whitesmoke;
}

footer p {
    
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    #filter{
        position: static; /* Removes absolute positioning */
        flex: 1 1 100%; /* Allows wrapping and takes full width */
        text-align: center; /* Centers the content */
        margin-bottom: 1rem; /* Adds spacing */
    }

    .cart-help {
        position: static; /* Removes absolute positioning */
        flex: 1 1 100%; /* Allows wrapping and takes full width */
        text-align: center; /* Centers the content */
    }

    #search-bar {
        flex: 1 1 100%; /* Makes search bar span full width */
        margin-bottom: 1rem;
    }
    
}





